// Fonts

// Dewi Light (Cyrillic)

@font-face {
    font-family: 'Dewi';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/dewi/light.woff2') format('woff2');
}

// Dewi Regular (Cyrillic)

@font-face {
    font-family: 'Dewi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/dewi/regular.woff2') format('woff2');
}

// Dewi medium (Cyrillic)

@font-face {
    font-family: 'Dewi';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/dewi/medium.woff2') format('woff2');
}

// Dewi semibold (Cyrillic)

@font-face {
    font-family: 'Dewi';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/dewi/medium.woff2') format('woff2');
}

// Dewi bold (Cyrillic)

@font-face {
    font-family: 'Dewi';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/dewi/bold.woff2') format('woff2');
}